.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.content{
	max-width: 1600px;
	margin: auto;
}

.donation{
	max-width: 1085px;
    margin: auto;
	.donation__form{
    	padding: 15px 15px 60px 15px;
		border-radius: 15px;
		background-color:#fff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .14);
		margin-bottom: 90px;
		.wpforms-field-number-slider-hint{
			border:1px solid #bdbdbd;
			font-size: 18px!important;
    		font-weight: 400!important;
    		max-width: 160px;
   			margin: auto;
   			display: none;
   			b{
   				font-weight: 300!important;
   			}
		}
		.wpforms-field-description{
			max-width: 490px;
			margin: auto!important;
			color: #747474;
		}
		.wpforms-field.wpforms-field-radio .wpforms-field-label, .donation__customlabel label{
			font-family: 'Bitter', serif;
			font-size: 1.3rem!important;
			font-weight: 700;
			border-bottom:1px solid #f4f4f4;
			padding-bottom: .8rem!important;
			width: 100%;
			padding-left:30px;
		}
		.wpforms-field.wpforms-field-radio{
			ul{
				.choice-1.depth-1, .choice-2.depth-1{
					float: left;
					margin: 10px 5px 10px 25px!important;
				}
			}
		}
		.wpforms-field-container{
			.wpforms-field-large.wpforms-field-required{
				border:1px solid #ebebeb;
				height: 45px;
			}
			.wpforms-field-large.wpforms-field-required::placeholder {
			  color: #cdcdcd;
			  opacity: 1; /* Firefox */
			}

			.wpforms-field-large.wpforms-field-required:-ms-input-placeholder { /* Internet Explorer 10-11 */
			 color: #cdcdcd;
			}

			.wpforms-field-large.wpforms-field-required::-ms-input-placeholder { /* Microsoft Edge */
			 color: #cdcdcd;
			}
		}
		.wpforms-field.wpforms-field-text, .wpforms-field.wpforms-field-email{
		    clear: initial;
		    display: inline-block;
		    padding: 0 10px;
		    margin: 8px 0;
		}
		.wpforms-submit-container{
			text-align: center;
			.wpforms-submit{
				background-color:#5d8c92!important;
				color: #fff;
				border:none!important;
				border-radius:3px;
				text-transform: uppercase;
			    font-size: 14px;
			    min-width: 180px;
			    margin-top: 20px;
			    min-height: 50px;
			    &:hover{
			    	background-color: #416f75!important;
			    }
			}
		}
	}
	.donation__counter{
		margin-top: 45px;
		text-align: center;
		.donation__raised{
			font-family: 'truenobold';
			color: #5d8c92;
			font-size: 3rem;
			line-height: normal;
		}
		h2{
			font-size: 1.3rem;
    		font-weight: 700;
		}
		>span{
			font-size: 1.5rem;
		    line-height: normal;
		    margin-top: -5px;
		    display: block;
		    color: #373737;
		}
	}
	h1,p{
		color: #fff;
	}
	h1{
		margin-bottom: 17px;;
	}
	p{
		font-weight: 200;
    	font-size: 1.1rem;
    	margin-bottom: 40px;
	}
	.wpforms-field.wpforms-field-number-slider{
		text-align: center;
	}
}
.donation__total--top{
	display: block;
    width: 100%!important;
    margin-top: 38px!important;
    margin-bottom:15px!important;
}
.donation__total{
	text-align: center;
	.donation__total__value{
		div{
			display: inline-block;
		}
		.donation__wrapper{
			border:1px solid #ebebeb;
			color: #333333;
			font-size: 1.1rem;
			div{
				background-color:#ebebeb;
				padding: 8px 16px;
			}
			span{
				padding: 8px 16px 8px 0;
			}
		}
	}
}
.thumb{
	img{
		border-radius: 20px;
    	box-shadow: 0 8px 10px rgba(0, 0, 0, .2);
	}
}
.par-content{
	position: relative;
	h2{
	    font-size: 1.2rem;
	    font-weight: 700;
	    line-height: 1.8rem;
	    margin-bottom: 1.6rem;
	}
	p{
		color: #727272;
	}
	&:before, &:after{
		content: '';
	    display: block;
	    background-size: 100% 100%;
	    position: absolute;
	}
	&:before{
		background-image: url('img/symbol-L.svg');
		transform: rotate(180deg);
	    right: 0;
	    top: 0;
	}
	&:after{
		background-image: url('img/symbol-L.svg');
		left: 0;
		bottom:0;
	}
	.par-content-inner{
		&:before{
			content: '';
			display: block;
			background-size: 100% 100%;
			position: absolute;
			background-image: url('img/icon-square-dots.svg');
			left: 0;
			top: 0;
		}
	}
}
