body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500;600;700&display=swap');
@font-face {
    font-family: 'truenobold';
    src: url('fonts/truenobd-webfont.woff2') format('woff2'),
         url('fonts/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
