body {
	background-color: $color__background-body; // Fallback for when there is no custom background color defined.
	background-image: url("img/swish-bg.png");
	font-family: 'Lato', sans-serif;
	background-repeat: no-repeat;
	padding-bottom:90px;
}

