input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}



input[type="range"] { 
    margin: auto!important;
    -webkit-appearance: none!important;
    position: relative!important;
    overflow: hidden!important;
    height: 20px!important;
    width: 660px!important;
    cursor: pointer!important;
    border-radius: 0!important; /* iOS */
    border:none!important;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #f1f1f1!important;
}


input[type="range"]::-moz-range-track {
    height: 40px!important;
    background: #f1f1f1!important;
}

input[type="range"]::-ms-fill-lower { 
    background: dodgerblue!important;
}

input[type="range"]::-ms-ticks-after { 
    display: none!important; 
}

input[type="range"]::-ms-ticks-before { 
    display: none!important; 
}

input[type="range"]::-ms-track { 
    background: #f1f1f1!important;
    color: transparent!important;
    height: 40px!important;
    border: none!important;
}

input[type="range"]::-ms-tooltip { 
    display: none!important;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none!important;
  height: 22px!important;
  width:0!important;
  border-radius: 0px!important;
  background: #5d8c92!important;
  cursor: pointer!important;
  margin-top: 0px!important; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: -660px 0 0 660px #5d8c92!important;
}
