/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}


@media (min-width: 320px) {
	.donation{
	    padding: 95px 15px 0 15px;
	    .donation__form{
			.wpforms-field.wpforms-field-text, .wpforms-field.wpforms-field-email{
				width: 100%;
			}
		}
	}
	.par-content{
		margin-top: 60px;
		padding: 25px 25px;
		&:before, &:after{
			width: 30px;
			height: 40px;
		}
	}
	.par-content-inner{
		&:before{
			width: 45px;
			height: 45px;
		}
	}
}
@media (min-width: 768px) {
	.donation{
	    padding: 95px 0 0 0;
	    .donation__form{
			.wpforms-field.wpforms-field-text, .wpforms-field.wpforms-field-email{
				width: 50%;
			}
		}
	}
	.donation__form{
		.wpforms-field.wpforms-field-text, .wpforms-field.wpforms-field-email{
			width: 50%;
		}
	}
	.thumb{
		margin: 0 -15px;
	}
	.par-content{
		position: relative;
		margin-top: 200px;
		padding: 70px 70px;
		margin-left: 50px;
		&:before, &:after{
			width: 50px;
			height: 60px;
		}
	}
	.par-content-inner{
		&:before{
			width: 95px;
			height: 95px;
		}
	}
}
